.container-fluid
  .row-fluid
    .span6
      %table.table.table-striped
        %thead
          %tr
            %th= t(:'vms.table.heading.name')
            %th= t(:'vms.table.heading.state')
            %th= t(:'vms.table.heading.vnc')

        - @vms.each do |vm|
          %tr
            %td
              = vm.name
            %td
              = vm.state
            %td
              - if vm.running?
                - vnc_address_with_port = sprintf("vnc://%s:%d", request.host, vm.vnc_port)
                %a{href: vnc_address_with_port}= vnc_address_with_port
            %td
              - if vm.running?
                %a.btn.btn-mini{href: "/vms/#{vm.uuid}/shutdown"}
                  %i.icon-stop
                  = t(:'vms.table.button.shutdown')
                %a.btn.btn-mini{href: "/vms/#{vm.uuid}/stop"}
                  %i.icon-stop
                  = t(:'vms.table.button.stop')
              - else
                %a.btn.btn-mini.bnt-primary{href: "/vms/#{vm.uuid}/start"}
                  %i.icon-play
                  = t(:'vms.table.button.start')
                %a.btn.btn-mini.btn-danger{href: "/vms/#{vm.uuid}/undefine"}
                  %i.icon-trash.icon-white
                  = t(:'vms.table.button.undefine')

    .span6
      = haml :'vms/form'

      - if @vm
        = haml :'vms/show', vm: vm
      - else
        = haml :'vms/select_one'
