.container-fluid
  .row-fluid
    %table.table.table-striped
      %tbody
        - @pools.each do |pool|
          %tr
            %th(colspan="4")
              %h3= pool.name
          - if pool.volumes.any?
            %tr
              %td= t(:'storage.pools.index.table.volumes.heading.path')
              %td= t(:'storage.pools.index.table.volumes.heading.allocation')
              %td= t(:'storage.pools.index.table.volumes.heading.capacity')
            - pool.volumes.each do |volume|
              %tr
                %td
                  %code= volume.path
                %td
                  = volume.info.allocation / 1024 / 1024
                  MB
                %td
                  = volume.info.capacity / 1024 / 1024
                  MB
                %td
                  %form{action:"/pools/#{pool.uuid}/volumes/#{CGI.escape(volume.path)}", method: "post"}
                    %input(type="hidden" name="_method" value="delete")
                    %button.btn.btn-danger(type="submit")
                      %i.icon-trash.icon-white
                      = t(:'storage.pools.index.table.volumes.delete')
          - else
            %tr
              %td(colspan="4")= t(:'storage.pools.index.table.volumes.no_volumes')
