.container-fluid
  .row-fluid
    .span6
      %h1= t(:'isos.index.heading')
      :markdown
        #{t(:'isos.index.introduction')}
      %table.table.table-striped
        %thead
          %tr
            %th= t(:'isos.table.heading.path')
            %th= t(:'isos.table.heading.allocation')
        %tbody
          - @isos.each do |file|
            %tr
              %td
                %code= file.path
              %td
                = file.info.allocation / 1024 / 1024
                MB
    .span6
      %h1= t(:'isos.form.heading')
      .well= haml :'isos/form'
